@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
.ContainerRegular {
  width: 1100px;
}

.ContainerWide {
  width: 1680px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-spaceBetween {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.margin-lr-auto {
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
}

body .bg-blue {
  background-color: #20d3c2;
}

body .bg-blue .g-split {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  margin: 0 auto;
  padding: 14px 0 14px 0;
  justify-content: space-between;
}

body .bg-blue .g-split .currency {
  padding-right: 16px;
}

body .bg-blue .g-split .space {
  padding-left: 18px;
}

body .bg-blue .g-split .vertical-border {
  border-right: 1px solid #ffffff;
  padding-right: 18px;
}

body .bg-blue .g-split a {
  text-decoration: none;
  color: #ffffff;
}

body .bg-blue .g-split a:hover {
  color: #0e153d;
}

.bgNavThree {
  border-top: 2px solid #e3e3e3;
}

.navbarThree {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #0e153d;
}

span,
button {
  margin-right: 1.2rem;
}

span:hover {
  border-bottom: 2px solid #20d3c2;
  margin-bottom: 1rem;
}

#btn-browseCategories {
  background-color: #20d3c2;
  color: white;
  height: 50px;
  width: 255px;
  border: none;
  font-size: 18px;
}

#btn-specialOffer {
  background-color: #20d3c2;
  color: white;
  margin-left: 3rem;
  height: 38px;
  width: 170px;
  border-radius: 25px;
  border: none;
  margin-right: 0;
  font-size: 16px;
}

.fa-angle-down {
  margin-left: 0.2rem;
  font-size: 0.9rem;
  color: #20d3c2;
}

.fa-angle-down-white {
  margin-left: 1rem;
  font-size: 0.9rem;
  color: white;
}

.fa-bars {
  margin-right: 0.4rem;
  font-size: 1.2rem;
}

#home-showcase-one {
  background-color: #eeeeee;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

#home-showcaseOne-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

h3 {
  font-size: 3.75rem;
  font-weight: 400;
  color: #0e153d;
  margin: 0;
}

h2 {
  font-size: 3.75rem;
  font-weight: 800;
  color: #20d3c2;
  margin: 0;
  margin-bottom: 40px;
}

p {
  color: #0e153d;
  margin: 0;
  line-height: 1.5;
}

#home-showcaseOne-button {
  margin-top: 47px;
  background-color: #ffffff;
  width: 154px;
  height: 54px;
  border-radius: 28px;
  border: none;
  color: #20d3c2;
  font-size: 1.125;
  font-weight: 700;
  transition: all ease 0.1s;
  cursor: pointer;
}

#home-showcaseOne-button:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: scale(1.02);
}

.home-showcaseTwo-container {
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.home-showcaseTwo-card {
  width: 400px;
  height: 140px;
  background-color: #b7f1f1;
  border: transparent;
  transition: all ease 0.2s;
  display: flex;
  cursor: pointer;
}

.home-showcaseTwo-card:hover {
  background-color: #20d3c2;
  border: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transform: scale(1.02);
}

.home-showcaseTwo-card:hover h4 {
  color: #ffffff;
}

.home-showcaseTwo-card:hover p {
  color: #ffffff;
}

.showcaseTwo-card-icon {
  width: 30%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcaseTwo-card-text {
  margin-left: 30px;
  padding-right: 40px;
}

.showcaseTwo-card-text h4 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #20d3c2;
  font-weight: 700;
}

.showcaseTwo-card-text p {
  color: #0e153d;
  font-family: "Roboto", sans-serif;
}

#home-showcase-three {
  text-align: center;
  margin-top: 115px;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#home-showcase-three span {
  font-size: 2.25rem;
  font-weight: 700;
}

#home-showcase-three #shop-by {
  color: #0e153d;
}

#home-showcase-three #category {
  color: #20d3c2;
}

#home-showcase-three p {
  color: #0e153d;
  font-weight: 500;
}

.sqiggleLine-home {
  margin-top: 30px;
  margin-bottom: 30px;
}

#homeShowcaseThree-grid {
  display: grid;
  width: 100%;
  height: 660px;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  row-gap: 12px;
  column-gap: 12px;
  margin-top: 40px;
}

.home-grid-box-gray {
  background-color: #cccccc;
  border-radius: 8px;
  position: relative;
  transition: all ease 0.2s;
  cursor: pointer;
}

.home-grid-box-gray:hover {
  transform: scale(1.02);
  background-color: #20d3c2;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.home-grid-box-blue {
  background-color: #0e153d;
  width: 50%;
  height: 40px;
  display: flex;
  float: left;
  position: absolute;
  bottom: 0;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.home-grid-box-blue h3 {
  color: #20d3c2;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
}

.home-grid-box-blueTwo {
  background-color: #0e153d;
  width: 50%;
  height: 75px;
  display: flex;
  float: left;
  position: absolute;
  bottom: 0;
  align-items: center;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 8px;
}

.home-grid-box-blueTwo #box-blueTwo-large {
  padding-top: auto;
  padding-bottom: auto;
}

.home-grid-box-blueTwo #box-blueTwo-large h3 {
  margin-bottom: 0px;
}

.home-grid-box-blueTwo #box-blueTwo-large h4 {
  margin: 0;
  padding-top: 2px;
  padding-left: 15px;
  color: #ffffff;
  font-weight: 300;
}

.home-grid-box-blueTwo h3 {
  color: #20d3c2;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
}

#home-showcaseThree-grid-boxTwo {
  grid-column: 2/4;
}

#home-showcaseThree-grid-boxThree {
  grid-column: 4/6;
  grid-row: 1/3;
}

#home-showcaseThree-grid-boxFour {
  grid-column: 1/3;
  grid-row: 2/4;
}

#home-showcaseThree-grid-boxFive {
  grid-column: 3;
  grid-row: 2;
}

#home-showcaseThree-grid-boxSix {
  grid-column: 3/5;
  grid-row: 3;
}

#home-showcase-four {
  text-align: center;
  margin-top: 118px;
  font-family: "Roboto", sans-serif;
}

#home-showcase-four #new {
  color: #0e153d;
  font-size: 2.25rem;
  font-weight: 700;
}

#home-showcase-four #arrivales {
  color: #20d3c2;
  font-size: 2.25rem;
  font-weight: 700;
}

#home-showcase-four p {
  color: #0e153d;
  margin-top: 30px;
}

#home-newArrivals-cards-container {
  justify-content: space-between;
  display: flex;
}

.product-card-regular {
  width: 350px;
  height: 350px;
  background-color: #eeeeee;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.newArrivals-cards {
  display: flex;
  width: 1268px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.showcaseFour-card-bottom {
  width: 100%;
  height: 50px;
  background-color: #0e153d;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.showcaseFour-card-bottom .showcaseFour-card-header {
  color: #ffffff;
  float: left;
  padding-left: 25px;
  margin-top: 0;
  padding-top: 15px;
  transition: all ease-in-out 0.2s;
}

.showcaseFour-card-hover-information-container {
  position: absolute;
  height: 40%;
  bottom: 0;
  margin-bottom: 30px;
  padding-left: 25px;
}

.showcaseFour-card-description {
  display: none;
  transition: all ease-in-out 1.2s;
  color: #ffffff;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.showcaseFour-card-small-box {
  transition: all ease-in-out 1.2s;
  display: flex;
  justify-content: center;
  width: 70px;
  height: 25px;
  border: 2px solid #ffffff;
  color: #ffffff;
  display: none;
  margin-bottom: 15px;
}

.showcaseFour-card-small-box .showcaseFour-category {
  text-align: center;
  padding-top: 3px;
}

.showcaseFour-card-orginal-price {
  text-decoration: line-through;
  color: #ffffff;
  display: none;
  margin-bottom: 15px;
  text-align: left;
  transition: all ease-in-out 1.2s;
}

.showcaseFour-card-sale-price {
  color: #20d3c2;
  font-size: 1.5rem;
  margin: 0;
  display: none;
}

.display-information {
  width: 100%;
  height: 100%;
  background-color: rgba(14, 21, 61, 0.8);
  border-radius: 8px;
  z-index: 2;
}

.display-information .showcaseFour-card-header {
  display: none;
}

.display-information .showcaseFour-card-description {
  display: block;
}

.display-information .showcaseFour-card-small-box {
  display: block;
}

.display-information .showcaseFour-card-orginal-price {
  display: block;
}

.display-information .showcaseFour-card-sale-price {
  display: block;
}

.carousel-counter {
  width: 50px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 120px;
}

.btnshowcasefive {
  border: none;
  width: 155px;
  height: 55px;
  border-radius: 28px;
  font-size: 18px;
  font-weight: 500;
}

.bg {
  background-color: #cccccc;
  height: 420px;
  display: flex;
  justify-content: center;
  border: none;
}

.bg .ContainerRegular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg .ContainerRegular .tealRectangle {
  width: 255px;
  height: 420px;
  background-color: #20d3c2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bg .ContainerRegular .tealRectangle p, .bg .ContainerRegular .tealRectangle span, .bg .ContainerRegular .tealRectangle button {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 1.2rem;
}

.bg .ContainerRegular .tealRectangle button {
  background-color: #0e153d;
}

.bg .ContainerRegular .tealRectangle span {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.bg .ContainerRegular .tealRectangle #procent-off {
  margin-bottom: 1.2rem;
}

.bg .ContainerRegular .tealRectangle #procent {
  font-size: 60px;
}

.bg .ContainerRegular .tealRectangle #off {
  font-size: 36px;
}

.bg .ContainerRegular .learnMore {
  width: 445px;
  font-family: "Roboto", sans-serif;
}

.bg .ContainerRegular .learnMore p {
  color: #ffffff;
  margin-bottom: 1.5rem;
  font-size: 14px;
}

.bg .ContainerRegular .learnMore button {
  background-color: #ffffff;
  color: #20d3c2;
  font-family: "Roboto", sans-serif;
  width: 190px;
}

.homeS7-bg {
  background-color: #0e153d;
  height: 420px;
  display: flex;
  justify-content: center;
  border: none;
}

.homeS7-bg .ContainerRegular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homeS7-bg .ContainerRegular .tealSquare {
  width: 255px;
  height: 265px;
  background-color: #20d3c2;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homeS7-bg .ContainerRegular .tealSquare p {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.homeS7-bg .ContainerRegular .tealSquare .flashsale {
  font-size: 60px;
  font-weight: 800;
}

.homeS7-bg .ContainerRegular .tealSquare .flashsaleTop {
  margin-bottom: -1.4rem;
}

.homeS7-bg .ContainerRegular .tealSquare #upTo {
  font-size: 24px;
  font-weight: 500;
}

.homeS7-bg .ContainerRegular .saleStats button {
  margin-top: 1.4rem;
  color: #20d3c2;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 2rem 0 0 0;
}

.homeS7-bg .ContainerRegular .saleStats .circles-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeS7-bg .ContainerRegular .saleStats .circles-btn .circles {
  display: flex;
  justify-content: center;
}

.homeS7-bg .ContainerRegular .saleStats .circles-btn .circles .circle {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: dotted #20d3c2 2px;
  font-family: "Roboto", sans-serif;
}

.homeS7-bg .ContainerRegular .saleStats .circles-btn .circles .circle .btnshowcasefive {
  align-self: center;
  margin-top: 1.4rem;
  color: #20d3c2;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.homeS7-bg .ContainerRegular .saleStats .circles-btn .circles .circle .statsNumbers {
  font-size: 36px;
  color: #20d3c2;
  font-weight: 700;
}

.homeS7-bg .ContainerRegular .saleStats .circles-btn .circles .circle .statsLetters {
  font-size: 16px;
  margin-top: -0.4rem;
}

.bg-S8 {
  height: 1085px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.bg-S8 .ContainerRegular .S8Headers {
  text-align: center;
}

.bg-S8 .ContainerRegular .S8Headers .S8Header {
  margin-bottom: 1.5rem;
}

.bg-S8 .ContainerRegular .S8Headers .S8Header span {
  margin-right: 0.55rem;
  font-size: 36px;
  font-weight: 700;
}

.bg-S8 .ContainerRegular .S8Headers p {
  font-size: 16px;
  color: #0e153d;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.bg-S8 .ContainerRegular .S8Headers #S8Top {
  color: #0e153d;
}

.bg-S8 .ContainerRegular .S8Headers #S8Sellers {
  color: #20d3c2;
}

.bg-S8 .ContainerRegular .S8Content {
  display: flex;
}

.bg-S8 .ContainerRegular .S8Content .S8ContentFooters {
  background-color: #0e153d;
  width: 100%;
  height: 52px;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.bg-S8 .ContainerRegular .S8Content .S8ContentFooters p {
  color: #ffffff;
}

.bg-S8 .ContainerRegular .S8Content .S8LeftContent {
  height: 700px;
  margin-right: 10px;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 10px;
  position: relative;
}

.bg-S8 .ContainerRegular .S8Content .S8LeftContent #beximlogo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.bg-S8 .ContainerRegular .S8Content .S8RightContent .S8RightTopContent {
  height: 345px;
  margin-bottom: 10px;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 10px;
  position: relative;
}

.bg-S8 .ContainerRegular .S8Content .S8RightContent .S8RightTopContent #lightonlogo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.bg-S8 .ContainerRegular .S8Content .S8RightContent .S8RightBottomContent {
  height: 345px;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 10px;
  position: relative;
}

.bg-S8 .ContainerRegular .S8Content .S8RightContent .S8RightBottomContent #rosimologo {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.bg-S11 {
  height: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

.bg-S11 .ContainerRegular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bg-S11 .ContainerRegular .left-S11 {
  position: relative;
}

.bg-S11 .ContainerRegular .left-S11 span {
  font-size: 36px;
  font-weight: 700;
  color: #0e153d;
}

.bg-S11 .ContainerRegular .left-S11 #now {
  color: #20d3c2;
  margin-left: -7px;
}

.bg-S11 .ContainerRegular .left-S11 p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #0e153d;
}

.bg-S11 .ContainerRegular .left-S11 input {
  width: 445px;
  height: 45px;
  border-radius: 25px;
  padding-left: 20px;
  border: 1px solid #f6f6f6;
}

.bg-S11 .ContainerRegular .left-S11 input ::placeholder {
  font-size: 14px;
}

.bg-S11 .ContainerRegular .left-S11 button {
  width: 107px;
  height: 40px;
  border-radius: 25px;
  font-size: 16px;
  border: none;
  background-color: #20d3c2;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  bottom: 0.25rem;
  right: -0.88rem;
}

.bg-S11 .ContainerRegular .right-S11 {
  width: 540px;
  height: 315px;
  background-color: #eeeeee;
}

.bg-S12 {
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-S12 .ContainerRegular {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-S12 .ContainerRegular .companies {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#displayNew {
  width: 60px;
  height: 60px;
  background-color: #20d3c2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  border-radius: 50%;
  margin-left: 15px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
}

#back-arrow {
  width: 60px;
  height: 60px;
  border: 1px solid #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 15px;
  cursor: pointer;
  transition: all ease 0.2s;
}

#back-arrow:hover {
  background-color: #20d3c2;
  border: 1px solid #20d3c2;
  transform-origin: center;
}

#back-arrow:hover .fa-chevron-left {
  color: #ffffff;
}

.fa-chevron-left {
  color: #aaaaaa;
  font-size: 1.8rem;
  font-weight: 200;
}

#forward-arrow {
  width: 60px;
  height: 60px;
  border: 1px solid #aaaaaa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-top: 15px;
  cursor: pointer;
  transition: all ease 0.2s;
}

#forward-arrow:hover {
  background-color: #20d3c2;
  border: 1px solid #20d3c2;
  transform-origin: center;
}

#forward-arrow:hover .fa-chevron-right {
  color: #ffffff;
}

.fa-chevron-right {
  color: #aaaaaa;
  font-size: 1.8rem;
  font-weight: 200;
}

#carouselCircles {
  width: 12px;
  height: 12px;
  background-color: #707070;
  border-radius: 50%;
}

.menuCardContainer {
  height: 200px;
  width: 46px;
  color: #ffffff;
  border-radius: 25px;
  background-color: #ffffff;
  position: absolute;
  right: -10px;
  top: 15px;
  z-index: 5;
  transition: all ease 0.5s;
  opacity: 0;
}

.menuContainerInside {
  display: flex;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
}

.cardMenuCircle {
  width: 20px;
  height: 20px;
  background-color: #fe4545;
  border-radius: 50%;
  position: relative;
  transition: all ease 0.5s;
}

.fa-heart {
  color: #aaaaaa;
  font-size: 1.5rem;
  padding-left: 2px;
  margin-top: 15px;
}

.fa-heart:hover {
  color: #20d3c2;
}

.fa-shuffle {
  color: #aaaaaa;
  font-size: 1.5rem;
  padding-left: 2px;
  margin-top: 15px;
}

.fa-shuffle:hover {
  color: #20d3c2;
}

.fa-magnifying-glass {
  color: #aaaaaa;
  font-size: 1.5rem;
  padding-left: 2px;
  margin-top: 15px;
}

.fa-magnifying-glass:hover {
  color: #20d3c2;
}

.fa-cart-shopping {
  color: #aaaaaa;
  font-size: 1.5rem;
  padding-left: 2px;
  margin-top: 15px;
}

.fa-cart-shopping:hover {
  color: #20d3c2;
}

.displayNone {
  opacity: 0;
}

.displayBlock {
  opacity: 1;
}

.displayBlock .menuCardContainer {
  opacity: 1;
  right: 15px;
  top: 15px;
}

.shopTopBannerContainer {
  width: 100%;
  height: 400px;
  background-color: rgba(14, 21, 61, 0.8);
  display: flex;
  align-items: center;
}

.shopTopBanner {
  justify-content: space-between;
  height: 100%;
}

.shopTopBannerLeft {
  width: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 2.25rem;
  margin-top: auto;
  margin-bottom: auto;
}

.shopTopBannerLeft h4 {
  color: white;
  margin-bottom: 12px;
}

.shopTopBannerLeft .shopTopBannerLeftText {
  display: flex;
  height: auto;
  margin-bottom: 20px;
}

.shopTopBannerLeft .shopTopBannerLeftText h2 {
  color: #ffffff;
  font-size: 2.25rem;
  height: auto;
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 500;
}

.shopTopBannerLeft .shopTopBannerLeftText h3 {
  color: #20d3c2;
  font-size: 2.25rem;
  font-weight: 500;
}

.shopTopBannerRight {
  width: 50%;
  position: relative;
  top: 20px;
}

.shopTopBannerButton {
  width: 175px;
  height: 55px;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  color: #20d3c2;
  font-size: 1.125rem;
  font-weight: 600;
  transition: all ease 0.2s;
  cursor: pointer;
}

.shopTopBannerButton:hover {
  background-color: #20d3c2;
  color: #ffffff;
}

.topShopBannerRight-shoeOne {
  position: absolute;
  top: 70px;
  left: 0px;
}

.topShopBannerRight-shoeTwo {
  position: absolute;
  bottom: 100px;
  right: 0px;
}

.shopTopBannerRight-newDisplay {
  position: absolute;
  left: 90px;
  top: 40px;
  width: 92px;
  height: 92px;
  background-color: #20d3c2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  align-items: center;
  font-size: 1.5rem;
}

.shopTopBannerRight-Sale {
  position: absolute;
  bottom: 230px;
  right: 80px;
  width: 92px;
  height: 92px;
  background-color: #64cb83;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  align-items: center;
  font-size: 1.5rem;
}

.shopPageFilterBackground {
  margin-top: 120px;
  width: 100%;
  height: 140px;
  background-color: #f6f6f6;
  display: flex;
  font-family: "Roboto", sans-serif;
}

.shopPageFilter-left {
  width: 25%;
  margin-top: 45px;
}

.shopPageFilter-left h2 {
  font-size: 1.5rem;
  color: #20d3c2;
  font-weight: 500;
  margin: 0;
  margin-bottom: 5px;
}

.shopPageFilter-left span {
  margin-right: 0;
  cursor: pointer;
}

.shopPageFilter-left span:hover {
  border-bottom: none;
}

.shopPageFilter-left .shopPageFiler-left-shop-little {
  color: #aaaaaa;
  margin-left: 0;
}

.shopPageFilter-right {
  width: 680px;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.shopPageFilter-filterboxOne {
  width: 212px;
  height: 60px;
  border-radius: 6px;
  background-color: #0e153d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopPageFilter-filterboxOne p {
  color: white;
}

.shopPageFilter-filterboxOne h8 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #20d3c2;
  line-height: normal;
  margin-right: 6px;
  margin-left: 3px;
  padding-bottom: 1px;
}

.shopPageFilter-filterboxTwo {
  width: 175px;
  height: 60px;
  border-radius: 6px;
  background-color: #0e153d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopPageFilter-filterboxTwo .shopPageFilter-filterboxTwo-inside {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.shopPageFilter-filterboxThree {
  width: 233px;
  height: 60px;
  border-radius: 6px;
  background-color: #0e153d;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.shopPageFilter-filterboxThree .shopPageFilter-filterboxThree-inside {
  display: flex;
  justify-content: space-between;
  width: 75%;
  align-items: center;
}

.shopPageFilter-filterboxThree .shopPageFilter-filterboxThree-inside p {
  color: white;
  font-size: "Roboto", sans-serif;
}

.shopPageFilter-filterboxThree .shopPageFilter-filterboxThree-inside i {
  color: #20d3c2;
}

.shopBannerLeft-title {
  font-family: "Roboto", sans-serif;
  color: #20d3c2;
  font-weight: 500;
  margin-bottom: 25px;
}

.shopBannerLeft-container {
  width: 255px;
  height: auto;
  margin-bottom: 55px;
}

.shopBannerLeft-container img {
  margin-bottom: 15px;
}

.shopBannerLeft-container-content-hoverAll {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.shopBannerLeft-container-content-hoverAll:hover {
  color: #20d3c2;
}

.shopBannerLeft-container-content-hoverAll:hover .shoperBannerLeft-numberBox {
  background-color: #20d3c2;
  color: #ffffff;
  border: 1px solid #20d3c2;
}

.shopBannerLeft-numberBox {
  border: 1px solid #AAAAAA;
  border-radius: 5px;
  width: 27px;
  text-align: center;
}

.shopFilterButton {
  width: 72px;
  height: 24px;
  border-radius: 20px;
  border: none;
  background-color: #20d3c2;
  color: #ffffff;
  cursor: pointer;
  margin-right: 0;
}

.fa-check {
  color: white;
  padding-top: 2px;
}

.fa-checked {
  display: none;
}

.shopBannerLeft-colorBox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopBannerLeft-container-content-color {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.shopBannerLeft-filterByColorGrid {
  height: auto;
  width: 90%;
  display: grid;
  grid-template-rows: repeat(auto 50px);
  grid-template-columns: auto auto;
  row-gap: 15px;
  justify-content: space-between;
}

.shopBannerLeft-filterByColorGridItem {
  width: 100px;
  height: 32px;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.shopBannerLeft-filterByColorGridItem:hover {
  border: 1px solid #20d3c2;
}

.shopBannerLeft-filterByColorGridItem img {
  align-self: center;
  display: block;
  margin: auto;
  height: 80%;
  width: 80%;
}

.shopLeft-ProductStatusBox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 14px;
  cursor: pointer;
  border: 2px solid #AAAAAA;
}

.shopLeft-productStatus {
  display: flex;
  font-family: "Roboto", sans-serif;
  align-items: center;
  color: #0e153d;
  margin-bottom: 15px;
}

.shopLeft-topRatedProducts-grid {
  display: grid;
  grid-template-rows: 65px 65px 65px;
  font-family: "Roboto", sans-serif;
  color: #0e153d;
  row-gap: 20px;
}

.shopLeft-topRatedProducts-grid-productPicture {
  height: 65px;
  width: 65px;
  border-radius: 5px;
  background-color: #eeeeee;
  margin-right: 10px;
}

.topRatedProducts-header {
  margin-bottom: 10px;
}

.topRatedProducts-stars {
  margin-bottom: 0;
}

.topRatedProducts-stars img {
  margin-bottom: 0;
}

.topRatedProducts-price {
  font-weight: 500;
}

.shopPage-sectionThree-container {
  margin-top: 40px;
}
