#home-showcase-four {
  text-align: center;
  margin-top: 118px;
  font-family: $FontMain;

  #new {
    color: $ThemeColorDarkBlue;
    font-size: 2.25rem;
    font-weight: 700;
  }

  #arrivales {
    color: $ThemeColorTeal;
    font-size: 2.25rem;
    font-weight: 700;
  }

  p {
    color: $ThemeColorDarkBlue;
    margin-top: 30px;
  }
}

#home-newArrivals-cards-container {
  justify-content: space-between;
  display: flex;
}

.product-card-regular {
  width: 350px;
  height: 350px;
  background-color: $ProductBackground;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
}

.newArrivals-cards {
  display: flex;
  width: 1268px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.showcaseFour-card-bottom {
  width: 100%;
  height: 50px;
  background-color: $ThemeColorDarkBlue;
  position: absolute;
  bottom: 0;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  .showcaseFour-card-header {
    color: $White;
    float: left;
    padding-left: 25px;
    margin-top: 0;
    padding-top: 15px;
    transition: all ease-in-out 0.2s;
  }
}

.showcaseFour-card-hover-information-container {
  position: absolute;
  height: 40%;
  bottom: 0;
  margin-bottom: 30px;
  padding-left: 25px;
}

.showcaseFour-card-description {
  display: none;
  transition: all ease-in-out 1.2s;
  color: $White;
  margin: 0;
  padding: 0;
  margin-bottom: 15px;
  width: 100%;
  text-align: left;
}

.showcaseFour-card-small-box {
  transition: all ease-in-out 1.2s;

  display: flex;
  justify-content: center;
  width: 70px;
  height: 25px;
  border: 2px solid $White;
  color: $White;
  display: none;
  margin-bottom: 15px;
  .showcaseFour-category {
    text-align: center;
    padding-top: 3px;
  }
}

.showcaseFour-card-orginal-price {
  text-decoration: line-through;
  color: $White;
  display: none;
  margin-bottom: 15px;
  text-align: left;
  transition: all ease-in-out 1.2s;
}

.showcaseFour-card-sale-price {
  color: $ThemeColorTeal;
  font-size: 1.5rem;
  margin: 0;
  display: none;
}

.display-information {
  width: 100%;
  height: 100%;
  background-color: rgba($ThemeColorDarkBlue, $alpha: 0.8);
  border-radius: 8px;
  z-index: 2;

  .showcaseFour-card-header {
    display: none;
  }

  .showcaseFour-card-description {
    display: block;
  }
  .showcaseFour-card-small-box {
    display: block;
  }
  .showcaseFour-card-orginal-price {
    display: block;
  }
  .showcaseFour-card-sale-price {
    display: block;
  }
}

.carousel-counter {
  width: 50px;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 120px;
}
