#home-showcase-three {
    text-align: center;
    margin-top: 115px;
    font-family: $FontMain;
    margin-left: auto;
    margin-right: auto;
    span {
        font-size: 2.25rem;
        font-weight: 700;
    }
    #shop-by {
        color: $ThemeColorDarkBlue;
    }

    #category {
        color: $ThemeColorTeal;
    }

    p {
        color: $ThemeColorDarkBlue;
        font-weight: 500;
    }

    #sqiggleLine-home {
        margin-top: 30px;
        margin-bottom: 30px;
    }

}

#homeShowcaseThree-grid {
    
}