.shopBannerLeft-title {
    font-family: $FontMain;
    color: $ThemeColorTeal;
    font-weight: 500;
    margin-bottom: 25px;
}

.shopBannerLeft-container {
    width: 255px;
    height: auto;
    margin-bottom: 55px;

    img {
        margin-bottom: 15px;
    }
}

.shopBannerLeft-container-content-hoverAll {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    font-family: $FontMain;
    cursor: pointer;
    &:hover {
        color: $ThemeColorTeal;
        .shoperBannerLeft-numberBox {
            background-color: $ThemeColorTeal;
            color: $White;
            border: 1px solid $ThemeColorTeal;
        }
    }
}

.shopBannerLeft-numberBox {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    // padding:2px;
    width: 27px;
    text-align: center;
}

.shopFilterButton {
    width: 72px;
    height: 24px;
    border-radius: 20px;
    border: none;
    background-color: $ThemeColorTeal;
    color: $White;
    cursor: pointer;
    margin-right: 0;
}

.fa-check {
    color: white;
    padding-top: 2px;
    // display: none;
}

.fa-checked {
    display: none;
}


.shopBannerLeft-colorBox {
    width: 20px;
    height: 20px;
    // background-color: black;
    border-radius: 4px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.shopBannerLeft-container-content-color {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    font-family: $FontMain;
   
}