.shopBannerLeft-title {
    font-family: $FontMain;
    color: $ThemeColorTeal;
    font-weight: 500;
    margin-bottom: 25px;
}

.shopBannerLeft-container {
    width: 255px;
    height: auto;
    margin-bottom: 55px;

    img {
        margin-bottom: 15px;
    }
}

.shopBannerLeft-container-content-hoverAll {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    font-family: $FontMain;
    cursor: pointer;
    &:hover {
        color: $ThemeColorTeal;
        .shoperBannerLeft-numberBox {
            background-color: $ThemeColorTeal;
            color: $White;
            border: 1px solid $ThemeColorTeal;
        }
    }
}

.shopBannerLeft-numberBox {
    border: 1px solid #AAAAAA;
    border-radius: 5px;
    // padding:2px;
    width: 27px;
    text-align: center;
}

.shopFilterButton {
    width: 72px;
    height: 24px;
    border-radius: 20px;
    border: none;
    background-color: $ThemeColorTeal;
    color: $White;
    cursor: pointer;
    margin-right: 0;
}

.fa-check {
    color: white;
    padding-top: 2px;
    // display: none;
}

.fa-checked {
    display: none;
}


.shopBannerLeft-colorBox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    
}

.shopBannerLeft-container-content-color {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
    justify-content: space-between;
    font-family: $FontMain;
   
}

.shopBannerLeft-filterByColorGrid {
    height: auto;
    width: 90%;
    display: grid;
    grid-template-rows: repeat(auto 50px);
    grid-template-columns: auto auto;
    row-gap: 15px;
    justify-content: space-between
}

.shopBannerLeft-filterByColorGridItem {
    width: 100px;
    height: 32px;
    border: 1px solid $LineBullet;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    &:hover {
        border: 1px solid $ThemeColorTeal;
    }

    img {
        align-self: center;
    display: block;
    margin: auto;
    height: 80%;
    width: 80%;

  
    }
}

.shopLeft-ProductStatusBox {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-right: 14px;
    cursor: pointer;
    border: 2px solid #AAAAAA;
}
.shopLeft-productStatus {
    display: flex;
    font-family: $FontMain;
    align-items: center;
    color: $ThemeColorDarkBlue;
    margin-bottom: 15px;

}

.shopLeft-topRatedProducts-grid {
    display: grid;
    grid-template-rows: 65px 65px 65px;
    font-family: $FontMain;
    color: $ThemeColorDarkBlue;
}

.shopLeft-topRatedProducts-grid-productPicture {
    height: 65px;
    width: 65px;
    border-radius: 5px;
    background-color: $ProductBackground;
    margin-right: 10px;
}

.topRatedProducts-header {
margin-bottom: 10px;
}

.topRatedProducts-stars {
    margin-bottom: 0;
    img {
        margin-bottom: 0;
    }
}

.topRatedProducts-price {
    font-weight: 500;
}